#memory_board {
  background-color:green;
  border-radius:10px;
  box-shadow:2px 2px 2px 2px;
  animation:bg 10s linear infinite;
  width:75%;
  height:600px;
}

@keyframes bg {
  0%{background-color:green;}
  25%{background-color:blue;}
  50%{background-color:purple;}
  75%{background-color:yellow;}
  100%{background-color:green;}
}
